$color_h1: red;

h1 {
  color: $color_h1;
}

:global .icon-bordered {
  border: solid 1px #eee;
}

.iconSmile {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('./smile.png');
}
